In [1]:
# created by TEAM SDPD Pull Over
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Data Wrangling : creates indexed dict with compiled data from files listed
files = ['actions_taken', 'basic_details', 'basis_of_search', 'basis_property_seizure', 'disability', 'evidence_found', 'gender', 'property_seized', 'race', 'reason_for_stop', 'stop_result']

def getFileData( filename ) :
    data = csv.reader(open('Data/' + filename + '.csv'))
    fields = data.__next__()
    rows = {}
    for (index, row) in enumerate(data) :
        items = zip(fields, row)
        item = {}
        for (name, value) in items :
            item[name] = value.strip()
        rows[index] = item
    return rows

def getFileData( filename ) :
    data = csv.reader(open("Data/" + filename + '.csv'))
    fields = data.__next__()
    rows = {}
    for (index, row) in enumerate(data) :
        items = zip(fields, row)
        item = {}
        for (name, value) in items :
            item[name] = value.strip()
        rows[index] = item
    return rows

def getUidDict( files ) :
    uid_dict = {}
    for file in files :
        fileData = getFileData( file )
        for rowIndex in fileData :
            row = fileData[rowIndex]
            stop_id = row['stop_id']
            pid = row['pid']
            uid = stop_id + "_" + pid
            uid_dict[uid] = {}
    for file in files :
        fileData = getFileData( file )
        for rowIndex in fileData :
            row = fileData[rowIndex]
            stop_id = row['stop_id']
            pid = row['pid']
            uid = stop_id + "_" + pid
            for field in row :
                uid_dict[uid][field] = row[field]
    return uid_dict

def getIndexedDict( uid_dict ) :
    dict = {}
    for (index, uid) in enumerate( uid_dict ) :
        dict[index] = uid_dict[ uid ]
        dict[index]['uid'] = uid
    return dict

# Example of how to get first index of data
#print(getIndexedDict( getUidDict(files) )[0])

In [3]:
data = pd.DataFrame(getIndexedDict( getUidDict(files)))
data = data.T

In [4]:
data.head(2).T

,0,1
action,None,None
agency,SD,SD
assignment,"Patrol, traffic enforcement, field operations","Patrol, traffic enforcement, field operations"
basis_for_search,,
basis_for_search_explanation,,
basisforpropertyseizure,,
beat,122,121
beat_name,Pacific Beach 122,Mission Beach 121
block,700,
cityname,SAN DIEGO,SAN DIEGO
code,64005,54395
consented,,
contraband,None,None
disability,None,None
exp_years,10,18
gend,1,1
gend_nc,,
gender,Male,Male
gender_nonconforming,0,0
highway_exit,,
intersection,,I-5
isschool,0,0
isstudent,0,0
land_mark,,
officer_assignment_key,1,1
ori,CA0371100,CA0371100
perceived_age,25,25
perceived_gender,Male,Male
perceived_lgbt,No,No
perceived_limited_english,0,0
pid,1,1
race,White,White
reason_for_stop,Reasonable Suspicion,Traffic Violation
reason_for_stop_code_text,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106
reason_for_stop_detail,Officer witnessed commission of a crime,Moving Violation
reason_for_stop_explanation,"staggering, unable to safely walk",Speeding
reason_for_stopcode,64005,54106
result,Custodial Arrest without warrant,Warning (verbal or written)
resultkey,6,2
resulttext,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,22349(B) VC - EXC 55MPH SPEED:2 LANE RD (I) 54395
school_name,,
stop_id,2443,2444
stop_in_response_to_cfs,0,0
stopdate,2018-07-01 00:00:00,2018-07-01 00:00:00
stopduration,30,10
stoptime,00:01:37,00:03:34
street,Grand Avenue,NOBEL DRIVE
type_of_property_seized,,
uid,2443_1,2444_1

In [5]:
df = data.copy(deep=True)
df = df.drop(["agency","ori"],axis = 1)
print("data.columns:" + str(len(data.columns)))
print("df.columns:" + str(len(df.columns)))

data.columns:49
df.columns:47

In [6]:
df_loc = df[['uid', 'street', 'intersection', 'highway_exit', 'cityname', 'block', 'beat']].copy(deep=True)

In [7]:
# All the columns are in str type
for i in range(len(df_loc.columns)):
    print("Column type: "+str(type(df.iloc[i][0]))+"\tColunm name:\t"+df.columns[i])

Column type: <class 'str'>	Colunm name:	action
Column type: <class 'str'>	Colunm name:	assignment
Column type: <class 'str'>	Colunm name:	basis_for_search
Column type: <class 'str'>	Colunm name:	basis_for_search_explanation
Column type: <class 'str'>	Colunm name:	basisforpropertyseizure
Column type: <class 'str'>	Colunm name:	beat
Column type: <class 'str'>	Colunm name:	beat_name

In [8]:
df_loc.replace("", np.nan, inplace=True)
df_loc.head(7)

      uid               street intersection highway_exit   cityname block beat
0  2443_1         Grand Avenue          NaN          NaN  SAN DIEGO   700  122
1  2444_1          NOBEL DRIVE          I-5          NaN  SAN DIEGO   NaN  121
2  2447_1          59th Street          NaN          NaN  SAN DIEGO  4400  822
3  2447_2          59th Street          NaN          NaN  SAN DIEGO  4400  822
4  2448_1          NIAGARA AVE          NaN          NaN  SAN DIEGO  4800  614
5  2449_1  la jolla village dr          NaN          NaN  SAN DIEGO  4500  115
6  2451_1               Thomas          NaN          NaN  SAN DIEGO   800  122

In [9]:
null_columns=df_loc.columns[df_loc.isnull().any()]

In [10]:
df_loc[df_loc["block"].isnull()].head(5)

,uid,street,intersection,highway_exit,cityname,block,beat
1,2444_1,NOBEL DRIVE,I-5,NaN,SAN DIEGO,NaN,121
10,2456_1,park blvd,space theater way,NaN,SAN DIEGO,NaN,531
19,2467_1,la jolla shores dr,torrey pines rd,NaN,SAN DIEGO,NaN,124
42,2493_1,GAYO COURT,TOCAYO AVENUE,NaN,SAN DIEGO,NaN,722
67,2523_1,NaN,Mission Blvd,NaN,SAN DIEGO,NaN,121

In [11]:
df_highway_exist = df_loc[df_loc["highway_exit"].notna()].copy(deep=True)
df_highway_exist.head(5)

,uid,street,intersection,highway_exit,cityname,block,beat
139,2592_1,NaN,NaN,sb 15 @ mercy rd,SAN DIEGO,NaN,231
1196,3551_1,NaN,NaN,I-15 and carmel mountain,SAN DIEGO,NaN,521
1204,3558_1,NaN,NaN,I-15 and Bernardo Center,SAN DIEGO,NaN,232
1214,3568_1,NaN,NaN,I-15 and Bernardo Center,SAN DIEGO,NaN,232
1219,3573_1,NaN,NaN,I-15 and Bernardo Center,SAN DIEGO,NaN,232

In [12]:
df_loc.head(10)

      uid               street intersection highway_exit   cityname block beat
0  2443_1         Grand Avenue          NaN          NaN  SAN DIEGO   700  122
1  2444_1          NOBEL DRIVE          I-5          NaN  SAN DIEGO   NaN  121
2  2447_1          59th Street          NaN          NaN  SAN DIEGO  4400  822
3  2447_2          59th Street          NaN          NaN  SAN DIEGO  4400  822
4  2448_1          NIAGARA AVE          NaN          NaN  SAN DIEGO  4800  614
5  2449_1  la jolla village dr          NaN          NaN  SAN DIEGO  4500  115
6  2451_1               Thomas          NaN          NaN  SAN DIEGO   800  122
7  2453_1         LOGAN AVENUE          NaN          NaN  SAN DIEGO  4800  446
8  2454_1             estrella          NaN          NaN  SAN DIEGO  4100  826
9  2455_1         hornblend st          NaN          NaN  SAN DIEGO  1100  122

In [13]:
df_intersection = df_loc[df_loc["intersection"].notna()].copy(deep=True)
df_intersection.head(5)

,uid,street,intersection,highway_exit,cityname,block,beat
1,2444_1,NOBEL DRIVE,I-5,NaN,SAN DIEGO,NaN,121
10,2456_1,park blvd,space theater way,NaN,SAN DIEGO,NaN,531
19,2467_1,la jolla shores dr,torrey pines rd,NaN,SAN DIEGO,NaN,124
42,2493_1,GAYO COURT,TOCAYO AVENUE,NaN,SAN DIEGO,NaN,722
67,2523_1,NaN,Mission Blvd,NaN,SAN DIEGO,NaN,121

In [14]:
df_block = df_loc[df_loc["block"].notna()].copy(deep=True)
df_intersection.head(10)

,uid,street,intersection,highway_exit,cityname,block,beat
1,2444_1,NOBEL DRIVE,I-5,NaN,SAN DIEGO,NaN,121
10,2456_1,park blvd,space theater way,NaN,SAN DIEGO,NaN,531
19,2467_1,la jolla shores dr,torrey pines rd,NaN,SAN DIEGO,NaN,124
42,2493_1,GAYO COURT,TOCAYO AVENUE,NaN,SAN DIEGO,NaN,722
67,2523_1,NaN,Mission Blvd,NaN,SAN DIEGO,NaN,121
75,2531_1,cesar chavez,main st,NaN,SAN DIEGO,NaN,511
93,2550_1,Garnet Ave,Mission Bay Drive,NaN,SAN DIEGO,NaN,122
115,2570_1,NaN,Elm Avenue/ Harris Avenue,NaN,SAN DIEGO,NaN,724
116,2571_1,GARNET,INGRAHAM,NaN,SAN DIEGO,NaN,122
136,2589_1,NaN,FRIARS AND SEA WORLD DRIVE,NaN,SAN DIEGO,NaN,123

In [15]:
df_block.shape[0] + df_intersection.shape[0] + df_highway_exist.shape[0]

89635

In [16]:
df_loc.shape

(89470, 7)

In [17]:
df_block.shape + df_intersection.shape + df_highway_exist.shape

(81462, 7, 7073, 7, 1100, 7)

In [18]:
df_block_intersection = df_intersection[df_intersection["block"].notna()].copy(deep=True)
df_block_intersection.shape

(180, 7)

In [19]:
list(df_block_intersection["uid"].head(1))

['2740_1']

In [20]:
if(list(df_block_intersection["uid"].head(1))[0] in df_block["uid"].unique()):
    df_block.drop(df_block_intersection["uid"].index, inplace  = True)
    df_intersection.drop(df_block_intersection["uid"].index, inplace  = True)

In [21]:
df_loc.shape

(89470, 7)

In [22]:
df_block.shape[0] + df_intersection.shape[0] + df_highway_exist.shape[0] + df_block_intersection.shape[0]

89455

In [23]:
df_block[df_block['cityname'] != 'SAN DIEGO']

,uid,street,intersection,highway_exit,cityname,block,beat
231,2675_1,W SAN YSIDRO BLVD,NaN,NaN,SAN YSIDRO,300,712
297,2739_1,E. San Ysidro Boulevard,NaN,NaN,SAN YSIDRO,700,714
321,2763_1,H STREET,NaN,NaN,CHULA VISTA,400,999
464,2901_1,H ST,NaN,NaN,SAN YSIDRO,500,712
537,2969_1,del sur bl,NaN,NaN,SAN YSIDRO,1300,723
805,3207_1,PALM,NaN,NaN,NATIONAL CITY,100,999
1152,3510_1,w san ysidro boulevard,NaN,NaN,SAN YSIDRO,300,712
1285,3635_1,Tarleton,NaN,NaN,SPRING VALLEY,1600,999
1912,4224_1,NICOLA TESLA CT,NaN,NaN,SAN YSIDRO,9700,713
1958,4268_1,W SAN YSIDRO BLVD,NaN,NaN,SAN YSIDRO,100,712
2381,4655_1,dairy mart,NaN,NaN,SAN YSIDRO,2100,712
2485,4754_1,virginia,NaN,NaN,SAN YSIDRO,100,712
2636,4885_1,BEYER BLVD,NaN,NaN,SAN YSIDRO,3200,723
2637,4885_2,BEYER BLVD,NaN,NaN,SAN YSIDRO,3200,723
3016,5230_1,e san ysidro blvd,NaN,NaN,SAN YSIDRO,600,712
3156,5349_1,EAST SAN YSIDRO BLVD,NaN,NaN,SAN YSIDRO,500,712
3305,5490_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3316,5500_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3415,5591_1,5 TH,NaN,NaN,SAN YSIDRO,6000,712
3420,5596_1,5 TH,NaN,NaN,SAN YSIDRO,6000,712
3421,5597_1,5 TH,NaN,NaN,SAN YSIDRO,6000,712
3430,5606_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3773,5914_1,willow Rd,NaN,NaN,SAN YSIDRO,200,712
3792,5933_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3803,5942_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3815,5953_1,east san ysidro blvd,NaN,NaN,SAN YSIDRO,600,712
3817,5955_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
3818,5956_1,east san ysidro blvd,NaN,NaN,SAN YSIDRO,600,712
3819,5957_1,east san ysidro,NaN,NaN,SAN YSIDRO,600,712
3820,5958_1,RAIL CT,NaN,NaN,SAN YSIDRO,5900,712
...,...,...,...,...,...,...,...
86758,81995_2,e san ysidro,NaN,NaN,SAN YSIDRO,200,712
87648,82754_1,W San Ysidro Blvd,NaN,NaN,SAN YSIDRO,200,712
87665,82770_1,BORDER VILLAGE,NaN,NaN,SAN YSIDRO,4300,712
87862,82946_1,VIRGINA,NaN,NaN,SAN YSIDRO,400,714
87932,83009_1,san ysidro blvd,NaN,NaN,SAN YSIDRO,100,712
88133,83179_1,S. Orange Ave,NaN,NaN,EL CAJON,1100,999
88139,83185_1,camino de la plaza,NaN,NaN,SAN YSIDRO,4000,712
88165,83209_1,Donax,NaN,NaN,IMPERIAL BEACH,1200,999
88168,83212_1,west park ave,NaN,NaN,SAN YSIDRO,200,712
88169,83212_2,west park ave,NaN,NaN,SAN YSIDRO,200,712
88433,83446_1,Genesse Avenue,NaN,NaN,LA JOLLA,8900,115
88510,83513_1,cherry blossom,NaN,NaN,NATIONAL CITY,4000,999
88560,83553_1,S VISTA,NaN,NaN,SAN YSIDRO,400,712
88603,83590_1,vIRGINA,NaN,NaN,SAN YSIDRO,400,714
88604,83591_1,VIRGINIA,NaN,NaN,SAN YSIDRO,400,714
88636,83618_1,sycamore,NaN,NaN,SAN YSIDRO,400,712
88674,83652_1,Market Street,NaN,NaN,NATIONAL CITY,3400,516
88740,83711_1,university,NaN,NaN,LA MESA,7100,999
88767,83735_1,University Ave,NaN,NaN,LA MESA,7100,999
88813,83780_1,E BEYER BLVD,NaN,NaN,SAN YSIDRO,2400,712
88844,83804_1,sweetwater,NaN,NaN,NATIONAL CITY,2600,999
88914,83869_1,Canyon Rd,NaN,NaN,SPRING VALLEY,1600,999
88945,83899_1,Camino de la plaza,NaN,NaN,SAN YSIDRO,2500,712
89001,83951_1,Palm Avenue,NaN,NaN,SAN YSIDRO,2800,724
89031,83980_1,canyon rd,NaN,NaN,SPRING VALLEY,1600,999
89083,84026_1,CAMINO DE LA PLAZA,NaN,NaN,SAN YSIDRO,4000,712
89315,84235_1,Tennie,NaN,NaN,SAN YSIDRO,100,712
89330,84249_1,Palm,NaN,NaN,SAN YSIDRO,4500,712
89339,84258_1,Sunset Lane,NaN,NaN,SAN YSIDRO,3400,712
89386,84301_1,mile of cars way,NaN,NaN,NATIONAL CITY,300,999

The directory '/home/jovyan/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/jovyan/.cache/pip' or its parent directory is not owned by the current user and caching wheels has been disabled. check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting censusgeocode
  Downloading https://files.pythonhosted.org/packages/2d/bb/33aff3841b625f14301e3fefb9125f549e4d5ac992751078c080ad831575/censusgeocode-0.4.3.post1-py2.py3-none-any.whl
Collecting requests[security]<3,>=2.18 (from censusgeocode)
  Downloading https://files.pythonhosted.org/packages/51/bd/23c926cd341ea6b7dd0b2a00aba99ae0f828be89d72b2190f27c11d4b7fb/requests-2.22.0-py2.py3-none-any.whl (57kB)
    100% |████████████████████████████████| 61kB 17.1MB/s ta 0:00:01
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from censusgeocode) (1.12.0)
Collecting requests-toolbelt<1,>=0.8.0 (from censusgeocode)
  Downloading https://files.pythonhosted.org/packages/60/ef/7681134338fc097acef8d9b2f8abe0458e4d87559c689a8c306d0957ece5/requests_toolbelt-0.9.1-py2.py3-none-any.whl (54kB)
    100% |████████████████████████████████| 61kB 31.1MB/s ta 0:00:01
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (2019.3.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (2.8)
Requirement already satisfied: cryptography>=1.3.4; extra == "security" in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (2.6.1)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "security" in /opt/conda/lib/python3.6/site-packages (from requests[security]<3,>=2.18->censusgeocode) (18.0.0)
Requirement already satisfied: asn1crypto>=0.21.0 in /opt/conda/lib/python3.6/site-packages (from cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode) (0.24.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /opt/conda/lib/python3.6/site-packages (from cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode) (1.11.5)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.6/site-packages (from cffi!=1.11.3,>=1.8->cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode) (2.19)
nbgrader 0.5.5 requires jupyter, which is not installed.
okpy 1.14.11 has requirement requests==2.12.4, but you'll have requests 2.22.0 which is incompatible.
Installing collected packages: requests, requests-toolbelt, censusgeocode
  Found existing installation: requests 2.12.4
    Uninstalling requests-2.12.4:
Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/opt/conda/lib/python3.6/site-packages/requests-2.12.4.dist-info/DESCRIPTION.rst'
Consider using the `--user` option or check the permissions.

In [ ]:
import censusgeocode as cg

In [24]:
f= open("SDPD_block1.csv","w+")
f.write(df_block[['uid','block', 'street', 'cityname', 'highway_exit']].to_csv())
f.close()